<h1>Listing goals</h1>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>End value</th>
    <th>Start value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goals.each do |goal| %>
  <tr>
    <td><%= goal.start %></td>
    <td><%= goal.end %></td>
    <td><%= goal.end_value %></td>
    <td><%= goal.start_value %></td>
    <td><%= link_to 'Show', goal %></td>
    <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
    <td><%= link_to 'Destroy', goal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goal', new_goal_path %>
