<%= form_for(@practice_unit) do |f| %>
  <% if @practice_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice_unit.errors.count, "error") %> prohibited this practice_unit from being saved:</h2>

      <ul>
      <% @practice_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit_name %><br />
    <%= f.text_field :unit_name %>
  </div>
  <div class="field">
    <%= f.label :unit_id, "Units" %><br />
    <%= f.select :unit_id, units.collect { |u| [u.units, u.id] }, { :include_blank => true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
