<h1>Listing practice_units</h1>

<table>
  <tr>
    <th>Unit name</th>
    <th>Unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @practice_units.each do |practice_unit| %>
  <tr>
    <td><%= practice_unit.unit_name %></td>
    <td><%= practice_unit.unit.units %></td>
    <td><%= link_to 'Show', practice_unit %></td>
    <td><%= link_to 'Edit', edit_practice_unit_path(practice_unit) %></td>
    <td><%= link_to 'Destroy', practice_unit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Practice unit', new_practice_unit_path %>
