<p id="notice"><%= notice %></p>

<p>
  <b>Unit name:</b>
  <%= @practice_unit.unit_name %>
</p>

<p>
  <b>Unit:</b>
  <%= @practice_unit.unit %>
</p>


<%= link_to 'Edit', edit_practice_unit_path(@practice_unit) %> |
<%= link_to 'Back', practice_units_path %>
